* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .header {
   height: 10%;
   display: flex;
   flex-direction: row;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
 }
 
 /* .border {
   border: 1px black solid;
   height: 350px;
 } */
 
 .showComplete,
 .showProgress,
 .showAll {
   font-size: 25px;
   float: left;
   margin-right: 10px;
 }
 
 .showComplete:hover,
 .showProgress:hover,
 .showAll:hover {
   display: inline-block;
   border-radius: 5px;
   line-height: 25px;
   transition: all 0.4s;
 }
 
 .showComplete:hover::after,
 .showProgress:hover::after,
 .showAll:hover::after {
   content: " Show Completed Tasks ";
   position: absolute;
   font-size: 20px;
   top: 65px;
   left: 10px;
 }
 
 .showProgress:hover::after {
   content: "Show In Progress Tasks";
 }
 
 .showAll:hover::after {
   content: " Show All Tasks ";
 }
 